body{
    main{
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        overflow: hidden;
        display: flex;
        #fichas-fijas{
            position: absolute;
            top: 0;
            left: 0;
            width: 100dvw;
            height: 100dvh;
            z-index: 0;
            .ficha-div{
                padding: 0.5em;
                z-index: 10;
                /* .img-rotated{

                }
                .img-norotated{

                } */
            }
        }
        .colocado{
            position: absolute;
            transition: all 0.3s ease-out;
        }
        .colocando{
            position: absolute;
            z-index: 5;
            animation: parpadeandoAnimation 3s ease-in-out infinite;
            transition: all 0.3s ease-out;
        }
        .colocando-girado{
            transform-origin: top left;
            transform: rotate(-90deg) translate(-100%, 0);
        }
        #colocandoOK{
            width: 40px;
            height: 40px;
            position: relative;
            left: -20px;
            top: -20px;
            z-index: -1;

        }
        #colocandoOK.activo{
            z-index: 6;
        }
        .izquierda{
            position: relative;
        }
        .izquierda, .derecha{
            display: flex;
            align-items: center;
            width: 50dvw;
            height: 100dvh;
            overflow: hidden;
            
            .fondo{
                width: 100%;
                height: 100%;
                z-index: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    aspect-ratio:initial;
                    min-width: 100%;
                    min-height: 100%;
                    opacity: 0.8;
                }
            }
        }
        .izq-contenido{
            position: absolute;
            top: 0;
            left: 0;
            width: 50dvw;
            height: 100dvh;
            z-index: 3;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

        }
        .izq-arriba{
            display: flex;
            align-items: center;
            gap: 2rem;
        }
        .indicaciones{
            width: 25dvw;
            filter: drop-shadow(1px 1px 5px #d1cccc);
        }
        .acomodar{
            color: #f1f1f1;
            font-weight: 200;
            font-size: 1.3em;
            text-align: center;
            padding: .5em;
            background-color: #379237;
            border-radius: 50px;
            cursor: pointer;
            width: 13dvw;
            height: 10dvh;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .elementos{
            position: relative;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            gap: 5dvw;
            /* .x1{
                margin-top: 1em;
            }             */
        }
        .proximo-container{
            position: relative;
            color: #f1f1f1;
            font-weight: 200;
            font-size: 2em;
            text-align: center;
            .proximo-btn{
                position: absolute;
                width: 5dvw;
                aspect-ratio: 1/1;   
            }
            #girar{
                bottom: -4dvh;
                right: -2dvw;
            }
            #mover-izq {
                top: 50%;
                left: -3vw;
                transform: translateY(-50%) rotate(180deg);
            }
            
            #mover-der {
                top: 50%;
                right: -3vw;
                transform: translateY(-50%);
            }
            
            #mover-arriba {
                top: -5vh; 
                left: 50%;
                transform: translateX(-50%) rotate(-90deg);
            }
            
            #mover-abajo {
                bottom: -5vh;
                left: 50%;
                transform: translateX(-50%) rotate(90deg);
            }
            .proximo{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 15dvw;
                aspect-ratio: 1/1;
                background-image: url(./img/cuadrado.png);
                background-size: cover;
                img{
                    max-height: 10dvw;
                    transition: all 0.3s ease-out;
                }
                .img-girada{
                    transform: rotate(90deg);
                }
            }
        }
        .fichas{
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 1.5em;
            text-align: center;
            color: #f1f1f1;
            img{
                filter: drop-shadow(5px 5px 15px #d1cccc);
            }
        }
        #tablero-fondo{
            opacity: 0.8;
            position: absolute;
            right: 5dvw;
            z-index: 3;
            display: grid;
            grid-template-columns: repeat(8, 5dvw);
            grid-template-rows: repeat(8, 5dvw);
            div{
                width: 5dvw;
                aspect-ratio: 1/1;
                background-size: cover;
                background-image: url(./img/cuadrado.png);
            }
        }
        #tablero{
            position: absolute;
            right: 5dvw;
            z-index: 4;
            display: grid;
            grid-template-columns: repeat(8, 5dvw);
            grid-template-rows: repeat(8, 5dvw);
            div{
                width: 5dvw;
                aspect-ratio: 1/1;
                background-size: cover;
                /* centrar la ficha */
            }
        }
        #f1{

        }
    }

}

@keyframes parpadeandoAnimation {
    0% {
      opacity: 1;
    }
    /* 35% {
        opacity: .5;
      } */
    50% {
        opacity: 0;
      }
    /* 65% {
    opacity: .5;
    } */
    100% {
        opacity: 1;
    }
  }